@model MarinaProject.Models.SailBoat

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SailBoat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KneelDepth" class="control-label"></label>
                <input asp-for="KneelDepth" class="form-control" />
                <span asp-validation-for="KneelDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSails" class="control-label"></label>
                <input asp-for="NumberOfSails" class="form-control" />
                <span asp-validation-for="NumberOfSails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorType" class="control-label"></label>
                <input asp-for="MotorType" class="form-control" />
                <span asp-validation-for="MotorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoatType" class="control-label"></label>
                <input asp-for="BoatType" class="form-control" />
                <span asp-validation-for="BoatType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration" class="control-label"></label>
                <input asp-for="Registration" class="form-control" />
                <span asp-validation-for="Registration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoatLength" class="control-label"></label>
                <input asp-for="BoatLength" class="form-control" />
                <span asp-validation-for="BoatLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
